<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FrenchQuizApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA3E7E1C1FE46C2700C606AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA3E7E331FE46C2800C606AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA3E7E3E1FE46C2800C606AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
